body {
  background: blanchedalmond;
}
@media screen and (max-width: 660px) {
  body {
    background-color: whitesmoke;
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.a{
  border: 1em solid red;
}
.b{
  border: 1em solid blue;
}
.c{
  border: 1em solid black;
}
